@import "tailwindcss";

body{
  color: var(--primary);
}

.home{
  background-image: url('/background-home-desktop.jpg');
  background-size: cover;
}
.destination{
  background-image: url('/background-destination-desktop.jpg');
  background-size: cover;
}

@media (max-width: 768px) {
  .home{
    background-image: url('/background-home-mobile.jpg');
    background-size: cover;
  }
}
@media (max-width: 1024px) {
  .home{
    background-image: url('/background-home-tablet.jpg');
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .destination{
    background-image: url('/background-destination-mobile');
    background-size: cover;
  }
}
@media (max-width: 1024px) {
  .destination{
    background-image: url('/background-destination-tablet.jpg');
    background-size: cover;
  }
}